{% extends "flashcards/base.html" %}
{% block content %}
    {% for card in cards %}
        <div class="row align-items-start p-3">
            <div class="col-3 text-center">
                <div class="bg-info p-4">{{card.front}}</div>
                <br>
                <div class="bg-info p-4">{{card.back}}</div>
            </div>
            <ul class="col-9 align-self-center list-unstyled">
                <li>
                    <label for="{{forloop.counter}}_1" id="{{forloop.counter}}_text1">
                        <input type="radio" name="sentence_{{forloop.counter}}" id="{{forloop.counter}}_1" class="sentence_clicked">
                        <span> {{card.sentences.0.0}}<br>{{card.sentences.0.1}} </span>
                    </label>
                </li>
                <li>
                    <label for="{{forloop.counter}}_2" id="{{forloop.counter}}_text2">
                        <input type="radio" name="sentence_{{forloop.counter}}" id="{{forloop.counter}}_2" class="sentence_clicked">
                        <span>{{card.sentences.1.0}} <br> {{card.sentences.1.1}}</span>
                    </label>
                </li>
                <li>
                    <label for="{{forloop.counter}}_3" id="{{forloop.counter}}_text3">
                        <input type="radio" name="sentence_{{forloop.counter}}" id="{{forloop.counter}}_3" class="sentence_clicked">
                        <span>{{card.sentences.2.0}} <br> {{card.sentences.2.1}}</span>
                    </label>
                </li>
            </ul>
        </div>

        <br>
    {% endfor %}
{% endblock content %}